
var tranNumber = function(num,point) {
  var numStr = num.toString().split('.')[0]
  if(numStr.length < 6) {
    return numStr
  }else if(numStr.length >= 6 && numStr.length <= 8) {
    var deciaml = numStr.substring(numStr.length - 4, numStr.length - 4 + point)

    return parseFloat(parseInt(num/ 10000) + '.' + deciaml) + '万'
  } else if(numStr.length > 8) {
    var deciaml = numStr.substring(numStr.length - 8, numStr.length - 8 + point)
    return parseFloat(parseInt(num/ 100000000) + '.' + deciaml) + '亿'
  }
}

module.exports = {
  tranNumber:tranNumber
}